:root{
  --color--body: #262627;
  --color--text: white;
  --color--header: black;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Abel', sans-serif;
  background: url(/ressources/images/logo.png) center/cover;
}

/*menu initial*/

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: var(--color--header);
  color: var(--color--text);
  font-size: 1.2em;
  z-index: 0;
}
.logo, ul{
  margin: 20px 60px;
  cursor: pointer;
}
.logo span, .logo em{
  font-size: 1.4em;
}
.logo em{
  font-style: normal;
}

nav{
  display: flex;
}
ul{
  display: flex;
  gap: 30px;
}
li{
  list-style: none;
}
li a{
  text-decoration: none;
  color: var(--color--text);
}

/*menu responsif*/

.container span{
  height: 43px;
  width: 43px;
  position: relative;
  float: right;
  margin: 10px;
  cursor: pointer;
  border: 2.5px solid var(--color--text);
}
span .btn{
  height: 4px;
  background: var(--color--text);
  width: 70%;
  position: absolute;
  top: 17px;
  right: 6px;

}
span .btn::before{
  content: "";
  height: 4px;
  background: var(--color--text);
  width: 100%;
  position: absolute;
  top: -10px;
  right: 0;
}
span .btn::after{
  content: "";
  height: 4px;
  background: var(--color--text);
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0;
}
span .btn::before, span .btn, span .btn::after{
  border-radius: 5px;
}
.overlay{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.959);
  overflow: hidden;
  transition: 0.3s;
}
.overlay__content{
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
}
.overlay a{
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: var(--color--text);
  display: block;
  transition: 0.2s;
}
.overlay a:hover, .overlay a:focus{
  color: #f1f1f191;
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
.content{
  width: 43px;
  height: 43px;
  border: 2.5px solid var(--color--text);
  position: absolute;
  right: 15px;
  margin: -60px -2px;
}
#closebtn{
  width: 4px;
  height: 30px;
  background: var(--color--text);
  transform: rotate(-40deg);
  cursor: pointer;
  left: 16px;
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 60px;
}
#closebtn::after{
  content: "";
  width: 4px;
  height: 30px;
  position: absolute;
  background: var(--color--text);
  transform: rotate(80deg);
  cursor: pointer;
}

#closebtn, #closebtn::after{
  border-radius: 10px;
}
#openNav{
  display: none;
}
/*le responsif design*/
@media screen and (max-width: 550px) {
  #openNav{
    display: initial;
  }
  ul{
    display: none;
  }
}
